<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1">
<meta name="google-site-verification" content="k0e8DrbD40s54xHNBqwIsRrSSAkZoprwtEYDnNY06bU" />
<meta name="google-site-verification" content="pnjjbQFvjPwaWhEXY6nSyaS9iyghmH-M_yLHBveDX2M">
<meta itemprop="name" content="{{site.project_name}}{% if page.title %} - {{page.title}}{% endif %}">
<meta itemprop="description" content="{% if page.description %}{{page.description}}{% endif %}">

<title>
  {% if page.title %}
    {{page.title}} -
    {% endif %} {{site.project_name}}
</title>
<link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.png">
<link href="//fonts.googleapis.com/css?family=RobotoDraft:300,400,500|Source+Code+Pro:400,500,700" rel="stylesheet">
<link href="{{ site.baseurl }}/css/site2.css?{{site.time | date: '%Y%m%d'}}" rel="stylesheet">
<link href="{{ site.baseurl }}/css/site2_sd_rules.css?{{site.time | date: '%Y%m%d'}}" rel="stylesheet" shim-shadowdom>
<script src="{{ site.baseurl }}/components/webcomponentsjs/webcomponents.min.js?{{site.time | date: '%Y%m%d'}}"></script>
<link rel="import" href="{{ site.baseurl }}/components/polymer/polymer.html">
<link rel="stylesheet" href="{{ site.baseurl }}/css/elements/docs-menu.css">
<link rel="import" href="{{ site.baseurl }}/elements/common_elements.vulcanized.html?{{site.time | date: '%Y%m%d'}}">

